<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Wycliffe MyPD uses FaceID to securely unlock your account.</string>
	<key>NSContactsUsageDescription</key>
	<string>This will allow your selected contacts to be imported into Wycliffe MyPD and uploaded to our servers.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.wycliffe.mypd</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
